<h1>Welcome to your gas mileage calculator<h1>
<h2>Please log in or create an account<h2>

<% @users.each do |user| %>

<ul>
        <li>
       
	<div class = 'list-group-item'>
            <a href='/<%=user.id%>'><%=user.name%></a>
        </div>

        <form action ='/delete_user/<%=user.id%>' method='Post'>
        <input type='submit' value='Delete'>
        </form>
        </li>
</ul>
<%end%>

<form action = '/new_user' method = 'post'>
  <input type='text' name ='name' placeholder= 'username'/>
  <input type='text' passoword ='password' placeholder ='password'/>
  <input type = 'submit' value='Login'>
</form>
