<h1>Welcome to your gas mileage calculator<h1>
<h2>Please log in<h2>

<form action = '/login' method = 'post'>
      <input type='text' name='name' placeholder='username' />
      <input type='password' name='password' placeholder='password' />
      <button type='submit' class ="btn btn-primary">Login</button>
</form>
<h2> Or create an account </h2>


<form action = '/new_user' method = 'post'>
  <input type='text' name ='name' placeholder= 'username'/>
  <input type ='password' name ='password' placeholder ='password'/>
  <input type ='password' name='password_confirmation' placeholder='password confirmation'>
  <button type='submit' class="btn btn-primary">Register</button>
</form>
